@import '../../../../styles/index';

:host{
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: transparent;

  @include transition(all .2s ease-out);
  .menu {
    margin-top: 0;
    margin-bottom: 0;
    @include transition(all .2s ease-out);
  }

  &.darken {
    .menu {
      margin-top: -30px;
      margin-bottom: -30px;
    }
    background-color: #000;
  }

  .container {
    width: 1140px;
    margin: auto;
    display: flex;
    .logo{
      flex:1;
      @include img-bg('logo-playground-white.png');
      background-position: left;
    }
    .menu {
      display: flex;
      justify-content: flex-end;
      *:last-child {
        margin-right: -90px;
      }
    }
  }
}
