@import '../../../../styles/index';

:host{
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .container {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    *:last-child {
      margin-right: -90px;
    }
  }
}
