@import '../../../../styles/index';

textarea {
  min-width: 265px;
  min-height: 140px;
  padding: 12px;

  @each $name, $theme in $themes {
    &.theme-#{$name} {
      border: 1px get-deep($theme, colors, secondary) solid;
      &::placeholder {
        color: get-deep($theme, colors, secondary);
        @include opacity(0.3);
      }
    }
  }

}
