@import '../../../../styles/index';

textarea {
  width: 100%;
  min-height: 140px;
  padding: 12px;

  @each $name, $theme in $themes {
    &.theme-#{$name} {
      border: 1px get-deep($theme, colors, secondary) solid;
      &::placeholder {
        @include testi('placeholder');
        color: get-deep($theme, colors, secondary);
        @include opacity(0.3);
      }
      color: get-deep($theme, colors, secondary);

      &.error {
        border: 1px get-deep($theme, colors, error) solid;
        &::placeholder {
          color: get-deep($theme, colors, error);
        }
        color: get-deep($theme, colors, error);
      }
    }
  }

}
