@import '../../../../styles/index';

.container {
  display: flex;

  flex-direction: row;

  plg-tab {
    position: relative;
    p {
      margin-top:14px;
    }
  }

  @include for-tablet-landscape-up {

    flex-direction: column;
  }

}
