<div class="wrapper theme-{{theme}}">
  <div class="container">
    <div class="contact-us">
      <plg-content [theme] = "theme">
        <div class="title">contact<br/>us.</div>
        <div class="paragraph">
          Playground srl<br/>
          Via G. Mazzini 3/C,<br/>
          Cernusco Sul Naviglio (Milano)<br/><br/>
          T +39 0240706003
        </div>
      </plg-content>
    </div>
    <div class="form-cont">
      <plg-form [theme] = "theme"></plg-form>
    </div>
    <div class="logo-cont"></div>
    <div class="menu-cont">
        <plg-menu-footer></plg-menu-footer>
      <div class="social-cont">
        <a class="social-fb" href="https://www.facebook.com/playground.digital.agency" target="_blank"></a>
        <a class="social-in" href="https://www.linkedin.com/company/playground-digital-agency" target="_blank"></a>
        <a class="social-ig" href="https://www.instagram.com/playground_agency/?hl=it" target="_blank"></a>
      </div>
    </div>
  </div>
</div>
