@import '../../../../styles/index';

:host {
  display: block;

  .wrapper {
    @each $name, $theme in $themes {
      &.theme-#{$name} {
        background-color: get-deep($theme, colors, primary);
        color: get-deep($theme, colors, secondary);
      }
    }
  }

  .container {
    width: 100%;
    margin: auto;
    padding: 100px 30px 50px 30px;

    .logo-cont {
      height: 100%;
      @include img-bg('logo-playground-white-with-icon.png');
      background-position: bottom;
    }
    .menu-cont {

      .social-cont {
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .social-fb {
          width: 18px;
          height: 18px;
          @include img-bg('social-fb.png');
        }
        .social-in {
          width: 18px;
          height: 18px;
          margin: 0 20px;
          @include img-bg('social-in.png');
        }
        .social-ig {
          width: 18px;
          height: 18px;
          @include img-bg('social-ig.png');
        }
      }
    }
  }

  @include for-tablet-landscape-up {

    .container {
      @include gridWithGutter(12, 30px);
      grid-template-rows: repeat(4, 1fr);
      padding: 100px 0 50px 0;

      .contact-us {
        grid-column: 2 / span 3;
        grid-row: span 2;
      }

      .form-cont {
        grid-column: 6 / span 6;
        grid-row: span 2;
      }

      .logo-cont {
        grid-column: span 12;
        grid-row: 3 / span 1;
        height: 100%;
      }
      .menu-cont {
        grid-column: span 12;
        grid-row: 4 / span 1;
      }
    }

    @include for-desktop-up {
      .container {
        width: 1140px;
      }
    }

  }

}
