<div class="wrapper">

  <div *ngFor="let classes of classArr"
       [ngClass] = "classes"></div>

  <div class="container">
    <div class="wrapper">
      <plg-content theme = "dark">
        <div class="title">lorem<br/>ipsum.</div>
        <div class="paragraph">
          Consectetur adipiscing elit.<br/>
          Nulla condimentum tortor sem,<br/>
          in semper nisl bibendum eu.
        </div>
      </plg-content>
    </div>
  </div>

  <div class="pagination">
    <div *ngFor="let classes of classArr; let i = index"
         [ngClass]="{'active':classes['active']}"
         (click)="selectSlide(i)"></div>
  </div>
</div>
