$font-path: "/assets/fonts/";

@font-face {
  font-family: 'Gotham-Bold';
  src: url($font-path +'Gotham-Bold/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
  url($font-path + 'Gotham-Bold/Gotham-Bold.otf') format('opentype'),
  url($font-path + 'Gotham-Bold/Gotham-Bold.woff') format('woff'),
  url($font-path + 'Gotham-Bold/Gotham-Bold.ttf') format('truetype'),
  url($font-path + 'Gotham-Bold/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url($font-path + 'Gotham-Book/Gotham-Book.eot?#iefix') format('embedded-opentype'),
  url($font-path + 'Gotham-Book/Gotham-Book.otf') format('opentype'),
  url($font-path + 'Gotham-Book/Gotham-Book.woff') format('woff'),
  url($font-path + 'Gotham-Book/Gotham-Book.ttf') format('truetype'),
  url($font-path + 'Gotham-Book/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url($font-path + 'Gotham-Medium/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
  url($font-path + 'Gotham-Medium/Gotham-Medium.otf') format('opentype'),
  url($font-path + 'Gotham-Medium/Gotham-Medium.woff') format('woff'),
  url($font-path + 'Gotham-Medium/Gotham-Medium.ttf') format('truetype'),
  url($font-path + 'Gotham-Medium/Gotham-Medium.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
