$themes: (
  light: (
    colors: (
      primary: #fff,
      secondary: #000,
    )
  ),

  dark: (
    colors: (
      primary: #000,
      secondary: #fff,
    )
  )
);

$common: (
  background: #ebebeb
)
