$themes: (
  light: (
    colors: (
      primary: #fff,
      secondary: #000,
      error: #ff0000
    )
  ),

  dark: (
    colors: (
      primary: #000,
      secondary: #fff,
      error: #ff0000
    )
  ),

  contrast: (
    colors: (
      primary: #cccccc,
      secondary: #000,
      error: #ff0000
    )
  )
);

$common: (
  background: #ebebeb
)
