@import '../../../../styles/index';

:host{
  display: block;
  width: 100%;
  z-index: 1000;

  .container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  @include for-desktop-up {

    .container {
      width: 1140px;
    }

  }

}
