@import '../../../../styles/index';

:host{
  display: block;

  .container {
    max-width:1140px;
    margin: auto;
    padding: 70px 0;

    .wrapper {
      grid-column: 2 / 6;
      margin-bottom: 30px;

      plg-tile {
        margin-bottom: 30px;
      }
    }

    @include gridWithGutter(6, 30px);

    @include for-tablet-landscape-up {

      @include gridWithGutter(12, 30px);

      .wrapper {
        grid-column: span 4;
        margin-bottom: 0;
        plg-tile {
          margin-bottom: 0;
        }
      }
    }

  }
}
