<div class="container">
  <plg-tile [titleBg]="'card-play-harder.png'">
    <div class="content">
      Aenean mollis dolor a mattis viverra. In hac habitasse platea dictumst. Curabitur tempus dui tortor,
      et bibendum lacus eleifend ut.
    </div>
  </plg-tile>
  <plg-tile [titleBg]="'card-simplicity.png'">
    <div class="content">
      Donec vitae augue tellus. Proin et urna sit amet metus fermentum dapibus non quis urna.
    </div>
  </plg-tile>
  <plg-tile [titleBg]="'card-innovation.png'">
    <div class="content">
      Suspendisse vehicula, lectus sed molestie aliquam, arcu neque gravida lacus.
    </div>
  </plg-tile>
</div>
