@import '../../../../styles/index';

button {
  width: 180px;
  height: 50px;

  @each $name, $theme in $themes {
    &.theme-#{$name} {
      background-color: get-deep($theme, colors, secondary);
      color: get-deep($theme, colors, primary);
    }
  }

}
